<include file="Public:header"/>
<include file="Public:menu"/>
<div class="content-wrapper">
    <include file="Public:breadcrumb"/>
    <!-- 主体内容 -->
    <section class="content">
        <!--表格-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <a class="btn btn-primary" href="{:U('Role/admins_add')}">添加管理员</a>
                        <a class="btn  btn-danger"  id="delall">批量删除</a>
                        <div class="select pull-right">
                            <form method="post" name="_form">
                            <div class="input-group" style="width:250px; margin-left: 5px;">
                                <input type="text" name="select" id="sel" class="form-control  " style="" placeholder="搜索用户名...">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" id="sel_ok"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th width="5%" class="tc">
                                    <input type="checkbox" id="selectall">
                                </th>
                                <th width="5%">编号</th>
                                <th width="10%">用户名</th>
                                <th width="10%">所属角色</th>
                                <th width="10%">最后登录IP</th>
                                <th width="10%">最后登录时间</th>
                                <th width="10%">真实姓名</th>
                                <th width="10%">管理操作</th>
                            </tr>
                            <?php $i=0 ;foreach($data as $val) : ?>
                            <tr>
                                <td class="tc">
                                    <input type="checkbox" name="check" value="<?php echo $val['id'] ?>">
                                </td>
                                <td><?php echo $val['id'] ?></td>
                                <td><?php echo $val['name'] ?></td>
                                <td><?php echo $cc[$i] ?></td>
                                <td><?php echo $val['last_ip'] ?></td>
                                <td><?php echo $val['last_time'] ?></td>
                                <td><?php echo $val['realname'] ?></td>
                                <td><a class="btn btn-default btn-xs" href="{:U('Role/admins_update',array('val'=>$val['id']))}">修改</a> <a href="#" d="<?php echo $val['id'] ?>" class="btn btn-default btn-xs del_l">删除</a></td>
                            </tr>
                            <?php $i++; endforeach;?>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content  -->
</div>
<!--模态框-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">警告</h4>
            </div>
            <div class="modal-body">
                <span style="color: red;font-size: 18px"><li class="glyphicon glyphicon-exclamation-sign" style="color: red;margin-right: 10px;"></li>是否删除这<span id="del_text"></span>条数据</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="ok"> 确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    //删除的ID
    var del_id = '';

    //批量删除提示操作
    $("#delall").click(function (){
        var len =$('input[name=check]:checked').length;
        if(len ==0 ){
            return false;
        }else{
             del_id = '';
            $('input[name=check]:checked').each(function (){
                del_id +=','+$(this).val();
            });
            del_id = del_id.substring(1);
            $("#del_text").text(len);
            $('#myModal').modal('show');
        }
    });
    //单条数据的删除
    $(".del_l").click(function (){
         del_id = '';
        del_id=$(this).attr('d');
        $("#del_text").text(1);
        $('#myModal').modal('show');
    });
    //进行删除操作
    $('#ok').click(function (){
        location.href="/yuwan/admin.php?m=Admin&c=Role&a=del_admin&del_id="+del_id;
    });
    //全选/反选
    $('#selectall').click(function (){
        $("input[name='check']").prop('checked',$(this).is(':checked'));
    });
    $("input[name='check']").click(function (){
        var len = $('input[name=check]:checked').length;
        if (len == $("input[name='check']").length) {
            $('#selectall').prop('checked', true);
        } else {
            $('#selectall').prop('checked', false);
        }
    });
    //管理员搜索
    $("#sel_ok").click(function (){
        var sel = $.trim($("#sel").val());
        if(sel == ''){
            return false;
        }else{
            _form.action="{:U('Role/admin')}";
            _form.submit();
        }
    })


</script>
<include file="Public:footer"/>