body { background-color: #F5F8F9;}
html, body {
    min-height: 100%;
}
a {
	outline: none !important;
}
.size-12 {
    font-size: 12px;
}
.size-14 {
    font-size: 14px;
}
.size-16 {
    font-size: 16px;
}
.size-17 {
    font-size: 17px;
}
.size-18 {
    font-size: 18px;
}
.size-21 {
    font-size: 21px;
}
.size-24 {
    font-size: 24px;
}
.size-32 {
    font-size: 32px;
}
.size-48 {
    font-size: 48px;
}
.size-64 {
    font-size: 64px;
}
.size-96 {
    font-size: 96px;
}

.bg-black {
    background-color: #111 !important;
}
.bg-gray {
    background-color: #d2d6de !important;
    color: #000;
}
.bg-blue {
    background-color: #0073b7 !important;
    color: #FFF;
}
.bg-navy {
    background-color: #001f3f !important;
    color: #FFF;
}
.bg-teal {
    background-color: #39cccc !important;
    color: #FFF;
}
.bg-olive {
    background-color: #3d9970 !important;
    color: #FFF;
}
.bg-lime {
    background-color: #01ff70 !important;
    color: #FFF;
}
.bg-orange {
    background-color: #ff851b !important;
    color: #FFF;
}
.bg-fuchsia {
    background-color: #f012be !important;
    color: #FFF;
}
.bg-purple {
    background-color: #605ca8 !important;
    color: #FFF;
}
.bg-maroon {
    background-color: #d81b60 !important;
    color: #FFF;
}
.bg-red {
	background-color: #dd4b39 !important;
	color: #FFF;
}
.color-red {
	color: #dd4b39 !important;;
}
.bg-yellow {
	background-color: #f39c12 !important;
	color: #FFF;
}
.bg-aqua {
	background-color: #00c0ef !important;
	color: #FFF;
}
.bg-green {
	background-color: #00a65a !important;
	color: #FFF;
}

.block_divider {
    position: relative;
    text-align: center;
}
.block_divider::before {
    border-top: 1px solid #e5e5e5;
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    width: 100%;
}
.block_divider_title {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    color: #666;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.3em;
    padding: 3px 8px 2px 12px;
    position: relative;
    text-transform: uppercase;
    z-index: 100;
}
.line_drivider {
    height: 1px;
    margin-top:10px;
    margin-bottom: 10px;
    border-top: 1px solid #e5e5e5;
}

#wrapper {
	/* position: relative; */
	margin: 0 auto -60px;
	/*overflow: hidden;*/
	background-color: #f5f8f9;
	height: auto !important;
	min-height: 100%;
}
#push, #footer, #loading, .space-push {
    height: 60px;
}
#wrapper .col-xs-12 {
	padding-left: 10px;
    padding-right: 10px;
}

/*header*/
#header { height:45px; line-height: 45px; background-color: #FFFFFF; overflow: hidden;}
#header .logo { padding:5px 0 0 10px;}
#header .logo a {
	display: block; 
	height: 35px; 
	width:80px; 
	background: #FFFFFF url(../img/logo.png) no-repeat scroll center center;
	background-size: cover;
}
#header .map-marker a {
	display: block;
	margin-right: 15px;
	font-size: 16px;
	color: #f65c2d;

}
#header .map-marker a:hover {
	text-decoration: none;
}

#header .map-marker .icon {
	margin-right: 5px;
}

/*swiper*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
	width: 100%;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background: #FFF none repeat scroll 0 0 ;
    opacity: 1;
}

/*main menu*/
#main-menu {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.menu-item {
	height: 5rem;
	line-height: 5rem;
	background-color: #FFFFFF;
	text-align: center;
}
#main-menu .row {
	margin-bottom: 10px;
}
.menu-item {
	border-radius: 0.5rem;
}
.menu-item a {
	display: block;
	color: #FFF;
	text-decoration: none;
	font-size: 1.6rem;
}
.menu-item a .icon {
	margin-right: 10px;
}

#main-menu .row {
	margin-left: -5px;
	margin-right: -5px;
}
#main-menu .col-xs-6 {
	padding-left: 5px;
    padding-right: 5px;
}

/*flat color*/
.bgc-one {
	background-color: #e3523f;
}
.bgc-two {
	 background-color: #4eb0d5;
}
.bgc-three {
	background-color: #1abc9c;
}
.bgc-four {
	background-color: #9b59b6;
}

/*search box*/


.search-box {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.search-box .row {
	text-align: center;
	margin-left: -5px;
    margin-right: -5px;
}

.search-box .col-xs-12 {
	padding-left: 5px;
    padding-right: 5px;
}
.search-box a {
	display: block;
	height: 3.8rem;
	line-height: 3.5rem;
	font-size: 1.4rem;
	color: #666;
	text-decoration: none;
	border: 0.1rem solid #ddd;
	border-radius: 0.5rem;
	background-color: #fff;
}
.search-box a .icon {
	margin-right: 10px;
	display: inline-block;
	height: 1.8rem;
}

.search-box-service a {
	color: #fff;
	border: 0.1rem solid #1abc9c;
	background-color: #1abc9c;
}
.search-box-store a {
	color: #fff;
	border: 0.1rem solid #e3523f;
	background-color: #e3523f;
}

.search-box-face a {
	color: #fff;
	border: 0.1rem solid #4eb0d5;
	background-color: #4eb0d5;
}

.search-box-drive a {
	color: #fff;
	border: 0.1rem solid #9b59b6;
	background-color: #9b59b6;
}



/*home recommend*/
.home-recommend,
.items {

}

.home-recommend .col-xs-12,
.items .col-xs-12 {
	margin-bottom: 10px;
}
.home-recommend .item,
.items .item {
	background-color: #fff;
	/* height: 38rem; */
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.home-recommend .item img,
.items .item img {
	width: 100%;
}
.home-recommend .item-inner,
.items .item-inner {
	padding: 8px;
}
.home-recommend .item h2,
.items .item h2 {
	font-size: 1.7rem;
	margin-top: 5px;
	margin-bottom: 5px;
}
.home-recommend .item h2 .icon,
.items .item h2 .icon {
	color: #fff;
	margin-right: 5px;
}
.home-recommend .item h2 .label,
.items .item h2 .label {
	display: inline-block;
	/* background-color: #f65c2d; */
	padding: 5px;
	font-size: 1.2rem;
	color: #fff;
}
hr.line {
	background-color: #ddd;
	width:100%;
	display: inline-block;
	margin-bottom: 5px;
    margin-top: 5px;
}
.home-recommend .item .details,
.items .item .details {
	color:#999;
	font-size: 1.2rem;
}
.home-recommend .item .icon,
.items .item .icon {
	margin-right: 10px;
	width: 1.5rem;
	display: inline-block;
	color: #f65c2d;
}

.home-recommend .item .btn-join,
.items .item .btn-join {
	background-color: #fff;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    color: #666;
    display: block;
    font-size: 1.4rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

/* .home-recommend .item .btn-join:hover {
	border-color: #f65c2d;
}
.home-recommend .item .btn-join:active {
	background-color: #f65c2d;
	color: #fff;
} */

.label-store {
	background-color: #e3523f;
}
.label-face {
	background-color: #4eb0d5;
}
.label-drive {
	background-color: #9b59b6;
}
.label-service {
	background-color: #1abc9c;
}

.item-type-drive .item-inner h2 .label,
.item-type-drive .item-inner .details .label{
	background-color: #9b59b6;
}
.item-type-drive .item-inner .details .icon {
	color: #9b59b6;
}
.item-type-drive .item-inner .btn-join:hover {
	border-color: #9b59b6;
}
.item-type-drive .item-inner .btn-join:active {
	background-color: #9b59b6;
	color: #fff;
}


.item-type-face .item-inner h2 .label,
.item-type-face .item-inner .details .label{
	background-color: #4eb0d5;
}
.item-type-face .item-inner .details .icon {
	color: #4eb0d5;
}
.item-type-face .item-inner .btn-join:hover {
	border-color: #4eb0d5;
}
.item-type-face .item-inner .btn-join:active {
	background-color: #4eb0d5;
	color: #fff;
}


.item-type-store .item-inner h2 .label,
.item-type-store .item-inner .details .label{
	background-color: #e3523f;
}
.item-type-store .item-inner .details .icon {
	color: #e3523f;
}
.item-type-store .item-inner .btn-join:hover {
	border-color: #e3523f;
}
.item-type-store .item-inner .btn-join:active {
	background-color: #e3523f;
	color: #fff;
}


.item-type-service .item-inner h2 .label,
.item-type-service .item-inner .details .label{
	background-color: #1abc9c;
}
.item-type-service .item-inner .details .icon {
	color: #1abc9c;
}
.item-type-service .item-inner .btn-join:hover {
	border-color: #1abc9c;
}
.item-type-service .item-inner .btn-join:active {
	background-color: #1abc9c;
	color: #fff;
}

#loading {
	text-align: center;
	line-height: 60px;
	display: none;
}
#loading img {
	display: inline-block;
	margin-right: 10px;
}

/*搜索页*/
#search-header {
	height:50px; 
	line-height: 50px; 
	background-color: #FFFFFF;
	border-bottom: 1px solid #E5E5E5;
	/* position: fixed;
	top: 0px;
	left: 0px; */
	width: 100%;
	z-index: 1000;
}
#search-header .search-nav,
.slideout-toggle {
	margin-left: 10px;
	width: 45px;
}

.search-header .row {
	padding: 5px 0;
}
#search-header .search-nav a,
.slideout-toggle a {
	color: #f65c2d;/*#f65c2d*/
}
#search-header .col-xs-8 {
	padding-left: 30px;
	position: relative;
	border: 0.1rem solid #ddd;
	border-radius: 0.5rem;
	margin-top: 8px;
}
#search-header .col-xs-8 .input-control {
	border:none !important;
	display: block;
	width: 100%;
	height: 32px;
}

#search-header .col-xs-8 .search-icon {
	position: absolute;
	left: 10px;
	color: #666;
	height: 30px;
	line-height: 30px;
}

#search-header .search-btn {
	padding-left: 5px;
    width: 6rem;
}

#search-header .search-btn .btn {
	background: #f65c2d none repeat scroll 0 0;
	color: #fff;
	padding:5px 10px;
}

/*slideout menu*/
.slideout-menu {
	/*background-image: linear-gradient(145deg, #1D1F20, #404348);*/
	background-color: #f5f8f9;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}

.menu-header {
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #f65c2d none repeat scroll 0 0;
	color: #fff;
	font-size: 1.6rem;
}
.menu-header .icon {
	margin-right: 10px;
}

.menu .filter {
	padding: 0px;
}
.menu .filter li {
	position: relative;
	display: block;
	height: 45px;
	line-height: 45px;
	background-color: #FFF;
	padding-left: 60px;
	width: 100%;
	/* border-top: 0.1rem solid #ddd; */
	border-bottom: 0.1rem solid #ddd;
}
.menu .filter li .icon {
	position: absolute;
	left: 20px;
	top: 0px;
	display: inline-block;
	width: 30px;
}
.menu .filter li a {
	display: block;
	text-decoration: none;
	color: #666;
}
.menu .filter li:active{
	background: #f65c2d none repeat scroll 0 0;
	color: #fff;
}
.menu .filter li:active a {
	color: #FFF;
}
.menu .filter li.active a {
	color: #f65c2d;
}

/*item grid*/
.items-grid .col-xs-12 {
	width: 50%;
}


/*filter-items*/
.menu .filter-items {
	margin-top:10px;
	border-top: 0.1rem solid #ddd;
}
.menu .filter-items li {
	width: 50%;
	float: left;
	border-right: 0.1rem solid #ddd;
	padding-left: 50px;
}

.loading {
    display: none;
    line-height: 60px;
    text-align: center;
    color: #666;
}
.loading img {
    display: inline-block;
    margin-right: 10px;
}

.items-list .item {
	position: relative;
	padding-left: 30%;
}
.items-list .item img {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 25%;
	min-height: 80px;
}
.items-list .item .item-inner {
	float: left;
}
.items-list .item .item-inner .btn-join {
	width: 50%;
	height: 2.8rem;
	line-height: 2.8rem;
	display: none;
}

.page-face .container,
.page-drive .container,
.page-store .container,
.page-service .container {
	padding-left: 0px;
	padding-right: 0px;
}
.page-face #wrapper .col-xs-12,
.page-drive #wrapper .col-xs-12,
.page-store #wrapper .col-xs-12,
.page-service #wrapper .col-xs-12 {
	padding-left: 15px;
	padding-right: 15px;
}


.block_divider {
	margin: 15px auto;
}

.item-content,
.item-content p {
    color: #333;
    font: 14px/25px "Tahoma";
    letter-spacing: 1px;
    text-align: justify !important;
    text-indent: 28px;
    word-break: normal;
    word-wrap: break-word;
}

.item-content img {
	display: block;
	margin: 10px auto;
}

.page-service .item .btn-join {
	color: #fff;
	border: 0.1rem solid #1abc9c;
	background-color: #1abc9c;
}
.page-service .item .btn-join:active {
	background-color: #2DCEAE;
}

.page-store .item .btn-join {
	color: #fff;
	border: 0.1rem solid #e3523f;
	background-color: #e3523f;
}
.page-store .item .btn-join:active {
	background-color: #F27163;
}
.page-store .item-inner h2 .label, 
.page-store .item-inner .details .label,
.item-type-store .item-inner h2 .label, 
.item-type-store .item-inner .details .label {
    background-color: #e3523f;
}



.page-face .item .btn-join {
	color: #fff;
	border: 0.1rem solid #4eb0d5;
	background-color: #4eb0d5;
}

.page-drive .item .btn-join {
	color: #fff;
	border: 0.1rem solid #9b59b6;
	background-color: #9b59b6;
}


/*.modal-dialog*/
.modal-dialog {
	margin:0px !important;
}
.modal-content {
	box-shadow: none !important;
	border-radius: 0px !important;
}

.w50 { width: 50px;}
.wp50 { width: 50%;}
.w100 { width: 100px;}
.w150 { width: 150px;}
.w200 { width: 200px;}
.inline-block { display: inline-block;}
.mr10 { margin-right: 10px;}
.ml10 { margin-left: 10px;}
.mr5 { margin-right: 5px;}
.tac { text-align: center;}
.form-control, .btn {
	/*border-radius: 0px !important;*/
}
.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
}

#myBuyServiceModal .col-xs-9 {
	text-align: bottom;
	vertical-align: middle;
	line-height: 34px;
}


/*city title*/
.city-title {
	height: 3.6rem;
	line-height: 3.6rem;
	background-color: #E2E2E2;
}
.city-title {
	font-size: 16px;
}
.city-title .icon { margin-right: 15px;}
.city-list { padding: 15px;}
.city-list .col-xs-4 {
	margin-bottom: 10px;
}

/*member center*/

.profile {
	height: 160px;
	background: #1abc9c url("../img/profile-bg2.jpg") no-repeat scroll center center;
	background-size: cover;
}
.profile-bg2 {
	background: #1abc9c url("../img/profile-bg.jpg") no-repeat scroll center center;
}
.profile .headimg,
.profile .excerpt {
	height: 160px;
}
.profile .headimg img {
	width: 80px;
	height: 80px;
	max-width: 120px;
	max-height: 120px;
	border-radius: 50%;
	display: block;
	position: absolute;
	margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile .excerpt {
	padding: 4rem 0;
	position: relative;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}
.profile .excerpt table {
	height:100%;
   	width: 100%;
   	margin: 0;
  	padding: 0;
   	border: 0;
}
.profile .excerpt table td {
	vertical-align: middle;
	text-align: left;
}

.profile-container .list-group-item,
.messages-list .list-group-item  {
	position: relative;
	padding-left: 45px;
}
.profile-container .list-group-item .icon {
	color: #666;
}
.profile-container .list-group-item .icon-abs,
.messages-list .list-group-item .icon-abs {
	position: absolute;
	top: 8px;
	left: 15px;
}

.profile-container .list-group-item a,
.messages-list .list-group-item a {
	display: inline-block;
	text-decoration: none;
	color: #666;
}
.profile-container .list-group-item:hover {
	cursor: pointer;
}
.profile-container .list-group-item:active,
.messages-list .list-group-item:active {
	background-color: #F2F2F2;
}
.badge-red {
	background-color: #FF0000;
	color: #FFF;
}
.font-red {
	color: #FF0000;
}
.page-title {
	position: absolute;
	width: 100px;
	left: 50%;
	margin-left: -50px;
	text-align: center;
	line-height: 45px;
	height: 45px;
}
.page-title h2 {
	font-size: 16px;
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
	line-height: 45px;
	height: 45px;
}

/* page messages */
.messages-list {
	margin: 10px auto;
}

.messages-list .list-group-item,
.messages-list .list-group-item:first-child,
.messages-list .list-group-item:last-child {
	border-radius: 0px;
	border-radius: 0px;
}

.page-message #header,
.page-money #header {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
.message-date {
	color: #666;
	font-size: 14px;
}

.messages-list .btn-block,
.orders-list .btn-block,
.btn-load-more{
	margin: 0 auto;
	width: 80%;
}

.sm-loading {
	width: 14px;
}

.md-loading {
	width: 18px;
}

.large-loading {
	width: 24px;
}

.message-post .row {
	position: relative;
	padding: 0 15px;
}
.message-post .post-title {
	font-size: 18px;
}
.message-post .post-date {
	color: #666;
}

.message-post .post-body {
	color: #333;
    font: 14px/25px "Tahoma";
    letter-spacing: 1px;
    text-align: justify !important;
    text-indent: 28px;
    word-break: normal;
    word-wrap: break-word;
    margin: 10px auto;
}


.box {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.box-header,
.box-footer {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header .box-title {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    margin: 0;
}

.box-body {
    padding: 10px;
}

.box-header::before, 
.box-body::before, 
.box-footer::before, 
.box-header::after, 
.box-body::after, 
.box-footer::after {
    content: " ";
    display: table;
}

.box-header::after, 
.box-body::after, 
.box-footer::after {
    clear: both;
}

.box-header {
	border-bottom: 1px solid #ddd;
}

.box-footer {
	border-top: 1px solid #ddd;
}

.orders-list .box-body img {
	width: 100%;
	max-width: 80px;
	max-height: 80px;
}

.orders-list .orders-details {
	padding: 10px 0;
}

.orders-list .orders-details div {
	margin-bottom: 5px;
}

.orders-list .box-header .label {
	display: inline-block;
	margin-top: 5px;
}

.orders-list .row {

}

.page-orders #header {
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
}




.progress, 
.progress > .progress-bar, 
.progress .progress-bar, 
.progress > .progress-bar .progress-bar {
    border-radius: 0px;
    box-shadow: none;
}

.progress.sm, 
.progress-sm {
    height: 10px;
}

.progress.xs, .progress-xs {
    height: 7px;
}
.progress.xxs, .progress-xxs {
    height: 3px;
}

.progress-details h3 {
	color: #666666;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0;
}
.progress-details small {
	font-size: 12px;
}
.progress-details {
	color: #666666;
	font-size: 14px;
}

/*timeline*/
.timeline {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    position: relative;
}

.timeline::before {
    background: #ddd none repeat scroll 0 0;
    border-radius: 2px;
    bottom: 0;
    content: "";
    left: 20px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.timeline > li {
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}
.timeline > li::before, .timeline > li::after {
    content: " ";
    display: table;
}
.timeline > li.time-label > span {
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
    font-weight: 600;
    padding: 5px;
}
.bg-red {
	background-color: #dd4b39 !important;
}

.timeline > li > .timeline-item {
    background: #fff none repeat scroll 0 0;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
    color: #444;
    margin-left: 50px;

    margin-top: 0;
    padding: 0;
    position: relative;
    border: 1px solid #ddd;
}
.timeline > li > .timeline-item > .time {
    color: #999;
    float: right;
    font-size: 12px;
    padding: 10px;
}
.timeline > li > .timeline-item > .timeline-header {
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
    padding: 10px;
}
.timeline > li > .timeline-item > .timeline-body, .timeline > li > .timeline-item > .timeline-footer {
    padding: 10px;
}

.timeline > li > .fa, 
.timeline > li > .glyphicon, 
.timeline > li > .ion {
    background: #d2d6de none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    height: 30px;
    left: 7px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}

.page-money .timeline-body .money {
	color:#f65c2d;
	font-size: 21px;
	font-weight: bold;
}

.timeline .icon {
	color: #fff;
}

.page-money {
	overflow: hidden;
}

/*slideout panel*/
#slidePanel {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f5f8f9;
    display: none;
}

@-webkit-keyframes slideIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes slideOut {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@keyframes slideOut {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

#slidePanel.slideIn {
    -webkit-animation: slideIn .2s forwards;
    animation: slideIn .2s forwards
}

#slidePanel.slideOut {
    -webkit-animation: slideOut .2s forwards;
    animation: slideOut .2s forwards
}

#slidePanel .header {
	background-color: #ffffff;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
	border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

#slidePanel .header a.arrow-left {
	display: inline-block;
	height: 45px;
	line-height: 45px;
	position: relative;
	padding-left: 30px;
	color: #f65c2d;
	text-decoration: none;
}
#slidePanel .header a.arrow-left .icon {
	position: absolute;
	top: 1px;
	left: 10px;
}

/*weui*/
.weui-form {
	background-color: #fff;
}
.weui_label,
.weui_check_label {
	font-weight: normal;
    margin-bottom: 0px;
}

.weui_cell::before {
	left: 0px !important;
}

.weui_cells_checkbox p {
	margin: 0px;
	font-size: 14px;
}
.weui_cells_checkbox {
	margin-top: 0px !important;
}
.weui-form {
	border-top:1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#slidePanel .weui_btn_primary{
	text-decoration: none;
	color:#fff;
}

#loadingToast .weui_toast {
	background: rgba(0, 0, 0, 1) none repeat scroll 0 0 !important;
}
#loadingToast .weui_loading {
	width: 100%;
	left: 0px;
	top: 30%;
}

.color-default {
	color: #777;
}
.color-danger {
	color: #d9534f;
}
.color-warning {
	color: #f0ad4e;
}
.color-success {
	color: #5cb85c;
}