<include file="Public:header"/>
<include file="Public:menu"/>
<div class="content-wrapper">
    <include file="Public:breadcrumb"/>

    <!-- 主体内容 -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8" style="">
                <!-- general form elements -->
                <div class="box box-solid" style="">
                    <!-- form start -->
                    <form role="form" method="post" action="{:U('User/playerUpdate')}">
                        <div class="box-body" style="">
                            <div class="form-group"><!-- has-error-->
                                <label>姓名 <span class="required">*</span></label>
                                <div>
                                    <input name="real_name" type="text" placeholder="输入真实姓名 ..."
                                           class="form-control w500 inline-block"
                                           value="{$data.real_name}">
                                    <em class="help-block"></em>
                                </div>
                            </div>

                            <input name="user_player[id]" value="{$data[user_player][id]}" type="hidden" placeholder=""
                                           class="form-control w500 inline-block">

                            <div class="form-group">
                                <label>昵称</label>
                                <div>
                                    <input name="nickname" value="{$data[nickname]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>电话号码</label>
                                <div>
                                    <input name="tel" value="{$data[tel]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>身份证</label>
                                <div>
                                    <input name="identity" value="{$data[identity]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>余额</label>
                                <div>
                                    <input name="user_player[balance]" value="{$data[user_player][balance]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>年龄</label>
                                <div>
                                    <input name="user_player[age]" value="{$data[user_player][age]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>游戏年龄</label>
                                <div>
                                    <input name="user_player[game_age]" value="{$data[user_player][game_age]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>胜利次数</label>
                                <div>
                                    <input name="user_player[win_times]" value="{$data[user_player][win_times]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>失败次数</label>
                                <div>
                                    <input name="user_player[lose_times]" value="{$data[user_player][lose_times]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>违约次数</label>
                                <div>
                                    <input name="user_player[fail_times]" value="{$data[user_player][fail_times]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>银行卡号</label>
                                <div>
                                    <input name="bank_card" value="{$data[bank_card]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>银行名称</label>
                                <div>
                                    <input name="bank" value="{$data[bank]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>实时经度</label>
                                <div>
                                    <input name="longitude" value="{$data[longitude]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>实时纬度</label>
                                <div>
                                    <input name="latitude" value="{$data[latitude]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>个人说明</label>
                                <div>
                                    <input name="profile" value="{$data[profile]}" type="text" placeholder=""
                                           class="form-control w500 inline-block">
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary w100">保存</button>
                            <a type="submit" class="btn btn-info w100 ml20"
                               onclick="history.go('-1')">返回</a>
                        </div>

                        <input type="hidden" name="id" value="{$data.id}">

                    </form>

                </div><!-- /.box -->
            </div><!--/.col (left) -->
        </div>
    </section>
    <!-- /.content  -->
</div>

<!--kind editor-->
<script charset="utf-8" type="text/javascript" src="{:ASSETS}plugins/kindeditor/kindeditor-all-min.js"></script>
<script type="text/javascript">
    var KIND_EDITOR;
    KindEditor.ready(function (K) {
        var options = {
            resizeType: 1,
            allowPreviewEmoticons: false,
            allowImageUpload: true,
            height: 300,
            allowFileUpload: true,
            uploadJson: '{:ASSETS}plugins/kindeditor/php/upload_json.php',
            items: [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        };
        KIND_EDITOR = K.create('#content', options);

        //上传按钮
        var uploadButton = K.uploadbutton({
            button : K('#ke-upload-button')[0],
            fieldName : 'thumb',
            url : '{:U("Game/upload")}',
            afterUpload : function(data) {
                console.log(data);
                if (data.error === 0) {
                    $("#previewThumb").attr("src", data.url);
                    $("#thumb").val(data.url);
                } else {
                    alert(data.error);
                }
            }
        });
        uploadButton.fileBox.change(function(e) {
            uploadButton.submit();
        });

    });

    function uploadImage() {

    }

</script>
<include file="Public:footer"/>